@import "./../../assets/scss/mixin/mixin.scss";

.tile {
  width: 150px;
  height: 150px;
  @include flexCenter();
  background-color: #dddddd;
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  font-family: "Tahoma";
  color: #323232;
  cursor: pointer;
  border-radius: 6px;
  transition: .3s;
  &.disabled {
    pointer-events: none;
    background-color: transparent !important;
  }
  &.slot-- {
    &0 {
      left: 0;
      top: 0;
    }
    &1 {
      left: calc(160px);
      top: 0;
    }
    &2 {
      left: calc(2 * 160px);
      top: 0;
    }
    &3 {
      left: calc(3 * 160px);
      top: 0;
    }
    &4 {
      left: 0;
      top: calc(160px);
    }
    &5 {
      left: calc(160px);
      top: calc(160px);
    }
    &6 {
      top: calc(160px);
      left: calc(2 * 160px);
    }
    &7 {
      left: calc(3 * 160px);
      top: calc(160px);
    }
    &8 {
      left: 0;
      top: calc(2 * 160px);
    }
    &9 {
      left: calc(160px);
      top: calc(2 * 160px);
    }
    &10 {
      left: calc(2 * 160px);
      top: calc(2 * 160px);
    }
    &11 {
      left: calc(3 * 160px);
      top: calc(2 * 160px);
    }
    &12 {
      left: 0;
      top: calc(3 * 160px);
    }
    &13 {
      left: calc(160px);
      top: calc(3 * 160px);
    }
    &14 {
      left: calc(2 * 160px);
      top: calc(3 * 160px);
    }
    &15 {
      left: calc(3 * 160px);
      top: calc(3 * 160px);
    }
  }
  &.currect {
    background-color: rgb(42, 99, 42);
    color: #fff;
  }
}
